#card0.*,#card1.*,#card2.*,#card3.*,#card4.*,#card5.*,#card6.*{
    transform: rotateY(180deg);
    transform: rotateY(0deg);
}

#card1.active, #card10.active {
    background-image: url("../img/cards/Arjuna.jpg");
}

#card2.active, #card20.active {
    background-image: url("../img/cards/Kali.jpg");
}

#card3.active, #card30.active {
    background-image: url("../img/cards/Krishna.jpg");
}

#card4.active, #card40.active {
    background-image: url("../img/cards/Manjusri.jpg");
}

#card5.active, #card50.active{
    background-image: url("../img/cards/Gita.jpg");
}

#card6.active, #card60.active {
    background-image: url("../img/cards/siddartha.jpg");
}

#card7.active, #card70.active {
    background-image: url("../img/cards/Bodhidharma2.jpg");
}

#card1.permanent, #card10.permanent {
    background-image: url("../img/cards/Arjuna.jpg");
}

#card2.permanent, #card20.permanent {
    background-image: url("../img/cards/Kali.jpg");
}

#card3.permanent, #card30.permanent {
    background-image: url("../img/cards/Krishna.jpg");
}

#card4.permanent, #card40.permanent {
    background-image: url("../img/cards/Manjusri.jpg");
}

#card5.permanent, #card50.permanent {
    background-image: url("../img/cards/Gita.jpg");
}

#card6.permanent, #card60.permanent {
    background-image: url("../img/cards/siddartha.jpg");
}

#card7.permanent, #card70.permanent {
    background-image: url("../img/cards/Bodhidharma2.jpg");
}
